<!DOCTYPE html>
<head>
 <title>External Smart Home Platform</title>
 <!-- Latest compiled and minified CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
 <!-- Optional theme -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
 <link href="/style.css" type="text/css" rel="stylesheet">


 <!-- Latest compiled and minified JavaScript -->
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
 <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
   <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('connect', function() {
          socket.emit('my event', {data: 'I\'m connected!'});
        });
        socket.on('dht_temperature', function(msg) {
          var nDate = new Date();
          $('#readingsUpdated').text(nDate.getHours() + 'h:' + nDate.getMinutes() +
             'm:' + nDate.getSeconds() + 's').html();
          $('#temperature').text(msg.data).html();
        });

        socket.on('sensorMag', function(msg) {
          $('#doorStatus').text(msg.data).html();
        });
      });
   </script>

</head>

<body>
 <h1>EXTERNAL SMART HOME</h1>
 <br>
 <div class="blocobtn">
   <h3>Air Temperature: <span id="temperature"></span>ºC</h3>
   <br>
   <h3>Air Humidity: <span id="humidity"></span>%</h3>
   <br>
 </div>
 <br>
   <h2>SISTEMA DE IRRIGAÇÃO</h2>
   <br>
<div class="blocobtn">
   <h3>Caudalimetro:   m3</h3>
   <br>
   <h3>Door Status: <span id="doorStatus"></span>ºC</h3>
   <br> 
   <h3>Soil Humidity: <span id="soilhumidity"></span>%</h3>
   <br>
   <h3>Rega de acordo com a cultura</h3>

     <div class="btn-group" data-toggle="buttonsJA" >
       <br>
       <button type="button" class="btn btn-success">Milho</button>
       <button type="button" class="btn btn-success">Cenoura</button>
       <button type="button" class="btn btn-success">Ginja</button>
       <button type="button" class="btn btn-success">Batata</button>
       <button type="button" class="btn btn-success">Cebola</button>
       <button type="button" class="btn btn-success">Feijão</button>
       <button type="button" class="btn btn-success">Rosas</button>
       <button type="button" class="btn btn-success">Petunias</button>
      </div>

    
  </div>
  <br>
  <br>
  <h2>ELETROVALVULA</h2>
  <div class="blocobtn" style="display: block; margin: 0 auto;">
   {% for pin in pins %}
   <h3>{{ pins[pin].name }}
     {% if pins[pin].state == 'True' %}
     is currently <strong>on</strong></h3>
     <div class="row"><div class="col-md-8">
      <br>
      <a href="/esp8266/{{pin}}/0" class="btn btn-primary" role="button">Turn off</a></div></div>
      <br>
  </div>

  <br>
  <br>
  <h2>PORTÃO GARAGEM</h2>
  <div class="blocobtn">
     {% else %}
     is currently <strong>off</strong></h3>
     <div class="row"><div class="col-md-8">
      <br>
      <a href="/esp8266/{{pin}}/1" class="btn btn-warning" role="button" >Turn on</a></div></div>
      {% endif %}
      {% endfor %}
  </div>
  <br>

     <h3>SENSORES (updated <span id="readingsUpdated"></span>)</h3>
     <br>
  <br>
     <h2>SISTEMA DE DETEÇÃO E DISSUASÃO DE INTRUSOS</h2>
     <div class="blocobtn">
     <br>
     <h3>Camara</h3>
     <br>
     <img style="-webkit-user-select: none" src="http://10.20.228.223/stream"> 
     <br>
  </div>
  <br>
     <h2>SISTEMA DE ALERTA DE CORREIO</h2>
     <div class="blocobtn">
      <br>
      <h3><span id="mailbox"></span></h3>
      <br>
     </div>
  <br>
  <br>
  
      <h1>SISTEMA DE VIDEO PORTEIRO</h1>
      <div class="blocobtn">
      <br>
      <h3>Camara</h3>
      <!--<img style="-webkit-user-select: none" src="http://10.20.228.223/stream"> -->
      FOTO
      <br>

  </div>
  </body>
  </html>
